@{
    ViewData["Title"] = "IndiWings";
}
<style>

    

   /* .disp {
        background-image: url(../images/flight5.jpg),linear-gradient(rgba(0,0,0,0.1)50%,rgba(0,0,0,0.1));
        
        min-height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
        
        
    }*/
    body {
        font-family: 'SF Pro Rounded';
        
    }
    .pay-img {
        position: absolute;
       
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .welcome {
        position: absolute;
        
        top: 10%;
        left: 24%;
        font-weight: bolder;
        color: white;
        z-index:1;
        font:800;
        
        
    }

    .para {
        position: absolute;
        top: 40%;
        left: 10%;
        
        color: white;
        
    }

    .button {
        position: absolute;
        top: 40%;
        left: 70%;
    }

    .btn {
        border: 1px solid #fff;
        padding: 10px 30px;
        color: #fff;
        text-decoration: none;
        transition: 0.6s ease;
    }

        .btn:hover {
            background-color: #fff;
            color: #000;
        }
        .icon{
           
            float:left;
            
            position:absolute;
            color:#fff;       
      
        top: 36%;  
        left:71%;
      
       
        }
        .menu{           
            position:absolute;
        top: 4%;
        left: 71%;
        display:flex
       
        }
        .list1{
            list-style:none;
          
        
        text-decoration: none;
            
        }

    .list2{
        list-style: none;
        text-decoration: none;
    }

    .list3 {
        list-style: none;
        text-decoration: none;
    }
    .list1 a{
        text-decoration:none;
        color:#fff;
       
        font-weight:bold;
        transition: 0.4s ease;
    }

    .list2 a {
        text-decoration: none;
        color: #fff;
        
        font-weight: bold;
        transition: 0.4s ease;
    }

    .list3 a {
        text-decoration: none;
        color: #fff;
       
        font-weight: bold;
        transition: 0.4s ease;
    }
    .list1 a:hover{
        color: #4B4453;
    }

    .list2 a:hover {
        color: #4B4453;
    }

    .list3 a:hover {
        color: #4B4453;
    }

    .plane {
        position: absolute;
        left: -3%;
        top: -8%;
    }
    .con{
        position:absolute;
        color:white;
        top:90%;
        left:42%;
        
    }
</style>
<body>
    <div class="disp">
        <div class="welcome">
           
            <h1 style="font-size:55px;"><b>WELCOME  TO   INDIWINGS</b></h1>
            </div>
       
    </div>
   
    <div>
        <img src="/images/flight5.jpg" class="pay-img" />
    </div>
    <div class="para">
        <h1><b>The Sky is Waiting for You</b></h1>
        <p>With cheap flights, you can easily book any ticket you need to travel safely, Thanks to our </p>
        <p>detailed system of searching and booking airline tickets... </p>
    </div>
    <div class="menu">
        <ul class="list1"style="font-size:19px;">
            <li><a asp-controller="Passenger" asp-action="Index"> HOME </a></li>
        </ul>
        <ul class="list2" style="font-size:19px">
            <li><a asp-controller="Passenger" asp-action="About">ABOUT</a></li>
        </ul>
        <ul class="list3" style="font-size:19px">
            <li><a asp-controller="Passenger" asp-action="Privacy">PRIVACY POLICY</a></li>
       </ul>

    </div>
    <div class="plane">
        <img src="../images/Indiwingsl.png" height=305px />
    </div>
    <div class="button">
        <a asp-area="" asp-controller="Passenger" asp-action="Login" class="btn">Login</a>
        <a asp-area="" asp-controller="Passenger" asp-action="Register" class="btn">Register</a>
    </div>
    <div class="con">
            &copy; 2022 - IndiWings - <a asp-area="" asp-controller="Passenger" asp-action="Privacy" class="bt">Privacy</a>
        </div>


</body>

